@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Virtual Gymnasium 🏋️</h1>
    <h4>An ultimate virtual Gym </h4>
    <p>One stop for all your Gymnasium needs! Come and explore us to find out more!</p>

</div>
