@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Virtual Gymnasium 🏋️</h1>
    <h2>One stop for all your Gymnasium needs!</h2>
    <h4>An ultimate virtually accessible Gym </h4>
</div>
